{% extends 'temp.html' %}

{% block content %}


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<style>
table, th, td {
border: 1px solid black;
}
</style>


<div class="container">
<h3>My bookings</h3>
<table style="width:100%">
   <tr>
       <th>Seat number</th>
       <th> Passenger Name </th>
       <th> Booking date </th>
       <th> Booking status </th>
   </tr>

{% for s in details %}
<tr>
 <td>  {{ s.slot_name}}   </td>
 <td>  {{ s.visiname}}   </td>
 <td>  {{ s.date}}   </td>
 <td>{{s.status}} </td>

 </tr>
{% endfor %}
</table>



<a href="{%  url 'index'%}" class="btn btn-primary">Back</a>


</div>
<script type="text/javascript">
function result () {
 var toast = $("#toast");
 var add = $("#add");
 toast.show();
 add.show();
}
function add() {
 var adder = $("#adder").html();
 $("#toast").html(adder);
}
</script>

{% endblock %}
